{% if include.heading %}
  <h2 class="section-heading type-heading">{{ include.heading }}</h2>
{% endif %}
<div class="home-images__item">
  <div class="home-images__item-main">
    <a class="home-images__link"
       target="_blank"
       href="{% if include.link %}{{ site.baseurl }}{{ include.link }}
       {% else %}{{ site.baseurl }}/static/uploads/{{ include.image }}
       {% endif %}">
      <div class="home-images__image{% if include.border %} image-border{% endif %}">
        <img class="image" alt="{{ include.title }}" src="{{ site.baseurl }}/static/uploads/{{ include.image }}?nf_resize=fit&w=700" />
      </div>
    </a>
    {% if include.caption %}
      <div class="home-images__caption">
        <span class="home-images__material">{{ include.material }}</span>
        <span class="home-images__size">{{ include.size }}</span>
      </div>
    {% endif; %}
  </div>
  {% if include.slideshow %}
    {% include home-slideshow-block.liquid %}
  {% endif %}
</div>
