<div class="vita__item">
    <h2 class="section-heading type-heading">{{ include.title }}</h2>
    <a class="vita__link" href="{{ site.baseurl }}/{{ include.link }}">
        <div class="vita__image image-border">
            <img class="image" alt="{{ include.title }}" src="{{ site.baseurl }}/assets/images/vita/{{ include.image }}"/>
        </div>
    </a>
</div>
